.quickReminders-holder {
    display: flex;
    flex-direction: column;
    gap: 17px;
}

.quickReminders-holder > span{
    font-size: 1.5rem;
}


.reminder{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    background-color: #d2dbe3;
    padding: 12px;
    border-radius: 15px;
}

.reminder-checkbox{
    width: 15px;
    height: 15px;
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    padding: 2px;
    cursor: pointer;
}

.reminders-section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: scroll;
    height: calc(100vh - 46vh);
    background-color: #696ea280;
    padding: 0px 15px 20px;
    border-radius: 20px;
}

.reminderSection {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.reminderSection span:nth-child(2){
    font-size: small;
}


.navbar-quickReminders-ul {
    display: flex;
    justify-content: space-between;
    gap: 5px;
    color: black;
    border-radius: 15px;
    padding: 0;
  }

  .navbar-quickReminders-item:hover {
    background-color: #1126e56b;
    color: white;
  }


.navbar-quickReminders-item {
    background-color: #ffffff5e;
    list-style: none;
    padding: 15px 20px;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .reminderSection-header {
    display: flex;
    justify-content: space-between;
}

.reminderSection-header span:nth-child(2){
    font-family: "Spectral", serif;
}

.reminders-list{
    overflow-y: scroll;
    height: calc(100vh -300px);
    display: flex;
    flex-direction: column;
    gap: 14px;
}
