.drag-drop-holder {
    display: flex;
    justify-content: space-between;
    gap:12px;
    height: 100%;
}

.drag-drop-holder > div{
    flex: 1 1;
    display: flex;
    flex-direction: column;
}

.drop-sections > p {
    background-color: white;
    border-radius: 8px;
    margin: 0;
    padding: 6px;
}

.drop-sections > div{
    flex: 1 1; 
    display: flex;
    flex-direction: column;
    gap:12px;
    margin: 12px 0;
}