.sidebar-holder {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.sidebar-header > h2 {
    margin: 0;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.sidebar-menu > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    padding: 0;
}

.sidebar-menu > ul >li{
    color:#9896A3;
    font-size: 18px;
    padding: 12px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.sidebar-menu > ul >li:hover{
    background-color: #5577FF;
    color: white;
}

.sidebar-menu > ul > li:hover > svg > path {
    fill: white;
}

.sidebar-menu {
    padding: 1rem 0;
    border-bottom: 1px solid lightgrey;
}

.sidebar-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid lightgrey;
    border-radius: 9px;
    padding: 14px 12px;
}
.user-image-sidebar-footer {
    background-color: #B1DBF6;
    font-size: 30px;
    border-radius: 11px;
    padding: 4px;
}
.content-footer-sidebar{
    display: flex;
    flex-direction: column;
}

.content-footer-sidebar span:nth-child(1){
    color: #53515B;
    font-size: 16px;
}

.content-footer-sidebar span:nth-child(2){
    color: #A0A0A3;
    font-size: 14px;
}